OPERATORS

1. Arithmetic Operators

In [1]:
#Addition
10 + 20

30

In [3]:
a = 10
b = 20
c = a+b
print(c)

30

In [4]:
#substraction
a-b

-10

In [5]:
d = a-b
d

-10

In [6]:
#multiply
a*b

200

In [7]:
e = a*b
print(e)

200

In [11]:
#division
f = a/b
f

0.5

In [13]:
#modulo
p = 5
q = 2
p%q

1

In [14]:
#floor division
p//q

2

In [15]:
#power of 
p**q

25

2. Relational Operators/Comparison Operators

In [16]:
5>2

True

In [17]:
5<2

False

In [18]:
15>=15

True

In [20]:
110<=15

False

In [21]:
100==100

True

In [22]:
101==100

False

In [23]:
101!=100

True

3. Logical Operators

In [24]:
50>15 and 20!=20

False

In [25]:
43<53 and 20!=21

True

In [26]:
45>30 or 45<20

True

In [27]:
74>86 or 12>63

False

In [30]:
not 74>86 or 12>63

True

In [31]:
 not 45>30 or 45<20

False

In [32]:
not 43<53 and 20!=21

False

In [33]:
not 50>15 and 20!=20

False

4. Bitwise Operator

In [41]:
a = 7
b = 2
print(a&b)

2

In [42]:
print(a|b)

7

In [43]:
s = 2
t = 4
print(s&t)

0

In [44]:
print(s|t)

6

In [45]:
2>>1

1

In [46]:
2<<1

4

5. Membership Operator

In [47]:
lst = [5,7,53,6,8,4,42,0,42,6,10,75]
9 in lst

False

In [48]:
1 in lst

False

In [49]:
6 in lst

True

In [50]:
36 not in lst

True

In [51]:
100 not in lst

True

In [52]:
a = ['apple', 'orange', 'pineapple' 'lemon', 'strawberry']
'Apple' in a

False

In [54]:
'apple' in a

True

In [55]:
'mango' not in a

True

6. Identity operators

In [56]:
x = 56
y = 35
x is y

False

In [58]:
id(x)

140723497117808

In [59]:
id(y)

140723497116176

In [60]:
a = 5
b = 5
a is b

True

In [61]:
id(a)

140723497116176

In [62]:
id(b)

140723497116176

In [63]:
a = -9
y = -9
a is y

False

In [64]:
id(a)

1796350299856

In [65]:
id(y)

1796350299536

In [66]:
b = 300
x = 300
b is x

False

In [67]:
id(b)

1796350298864

In [68]:
id(x)

1796350298288

Triple Quotes

In [70]:
print("""I have completed my Day 2 Assignment 😊✔""")

I have completed my Day 2 Assignment 😊✔

In [71]:
print('Python's World)

SyntaxError: invalid syntax (<ipython-input-71-7259e63f62e9>, line 1)

In [77]:
print("Python's World")

Python's World

In [78]:
a = 'Tuesday'
b = 'July'
c = 2020
print("Today is", a, "of the month", b, "of the year", c)

Today is Tuesday of the month July of the year 2020

In [83]:
print("Today is %2s of the month %15s of the year %10d"%(a,b,c))

Today is Tuesday of the month            July of the year       2020

In [82]:
print (f"Today is {a} of the month {b} of the year {c}")

Today is Tuesday of the month July of the year 2020